body {
  margin: 0;
  background-image: url('images/todo-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
  min-height: 100vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.task-area {
  border: 1px solid lightskyblue;
}
.task-tabs {
  display: flex;
  border-bottom: 1px solid lightskyblue;
  position: relative;
}
.task-tabs div {
  padding: 1em;
}
#under-line {
  height: 4px;
  background-color: coral;
  position: absolute;
  width: 60px;
  left: 0px;
  top: 52px;
  padding: 0px;
  transition: 0.5s;
}
.task {
  display: flex;
  justify-content: space-between;
}
.task-done {
  text-decoration: line-through;
  text-decoration-color: darkgrey;
  width: 75%;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: gray;
}
.task-progress {
  width: 75%;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
}
.fa-solid {
  margin-right: 35px;
  margin-left: 15px;
}
.fa-check {
  color: green;
  font-size: 22px;
  padding-top: 15px;
}
.fa-trash {
  color: red;
  font-size: 17px;
  padding-top: 15px;
}
.fa-rotate-left {
  color: gray;
  font-size: 19px;
  padding-top: 15px;
}

.task-tabs div {
  cursor: pointer;
}
